<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
<div align="center"><h1>hello world!!</h1></div>
    <div align="right">
        <a href="../blog/index">블로그</a>
        <a href="../bbs/index">게시판</a>
        {% if session_user_name %}
            <a href="../user/index">{{session_user_name}}</a>
        {%else%}
            <a href="../user/index">Login</a>
        {%endif%}
        <a href="../chart/index">정적</a>
    </div>
</body>
</html>