<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{error}}
    <div align="center">
    <form action="../login/" method="post">
        {% csrf_token %}
        ID  : <input type="text" placeholder="ID" name = "id" required><br/>
        <br/>
        PWD : <input type="password" placeholder="Password" name = "pwd" required><p/>
        <p/>
        &nbsp;<input type="submit" value="login">
        &nbsp;&nbsp;<button><a href="../signUp">SignUp</a></button>
    </form>
</div>
</body>
</html>